include ../Components/Header
block content
  br
  .container
    // Page Heading
    .d-sm-flex.align-items-left.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800=title
    .jumbotron
      .row
        .container-fluid.table-responsive
          form(method="POST" action="/Products/"+product[0]['_id']+"/Recovered")
            .container
              != messages('message', locals)
              if errors
                each error, i in errors
                  div(class="alert alert-danger") #{error.msg}
            h2 زانیاری بەرهەمی گەڕاوە
            .row
              .form-group.col-md-1
                label بڕ
                input.form-control(name="perPacket" type='number' value="1")
              .form-group.col-md-5
                label کڕیار
                select(name="cutomerID" class="form-control")
                  each item,i in profiles
                    option(value=item['_id'])=item['clientName']
              .form-group.col-md-6
                label تێبینی
                input.form-control(name="note" type='text')
            button.btn.btn-primary(type='submit') گەڕانەوە