include ../Components/Header
block content
  br
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-left.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800=title
      .span
        //- a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm.text-white.mr-2(id="backup" onclick="backupAll()")
        //-   i.fas.fa-database.fa-sm.text-white-50
        //-   |  Backup Hotspots
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm.text-white.m-1(href="/NewProduct")
          i.fas.fa-plus-square.fa-sm.text-white-50
          |  بەرهەمی نوێ
        a.d-none.d-sm-inline-block.btn.btn-sm.btn-warning.shadow-sm.text-white.m-1(href="/NewTrailer")
          i.fas.fa-truck-moving.fa-sm.text-white-50
          |  بار‌هەڵگری نوێ
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
    //- .container
    //-   .row.height.d-flex.justify-content-center.align-items-center
    //-     .col.md-6
    //-       .search-box
    //-         .input-group
    //-           input#search.form-control(type='text' placeholder='Search by Name')
    //-     .col.md-6
    //-       .search-box
    //-         .input-group
    //-           input#searchByCom.form-control(type='text' placeholder='Search by Company')

    hr
    .row
      .container-fluid.table-responsive
        table(id="productTable").table.table-hover.table-lg.table-striped
          thead.thead-light
            tr(style="text-align:center; font-size:90%")
              th(scope='col') بڕاندی بەرهەم
              th(scope='col') ناوی بەرهەم
              th(scope='col') وڵات
              th(scope='col') کۆمپانیای وەبەرهێن
              th(scope='col') پێوانەی گشتی
              th(scope='col') پێوانەی تاک
              th(scope='col') جۆری بەرهەم
              th(scope='col') شوێنی بەکارهێنان
              th(scope='col') بڕی پێوانە
              th(scope='col') ڕەنگ
              //- th(scope='col') فرۆشتن (تاک)
              th(scope='col') بڕی بەردەست
              th(scope='col') کردارەکان 
          tbody
  script.
    $(document).ready(function() {
      $('#productTable').DataTable({
        //- "mRender" : function(oObj) {
        //-   return '<select id="year">' + '<option value="2010">2010</option>' + '<option value="2011">2011</option>' + '<option value="2012">2012</option>' + '</select> ';
        //- },
        "processing": true,
        "serverSide": true,
        "lengthMenu": [[10, 25, 50, 250], [10, 25, 50, 250]],
        "ajax": {url:"/Products/Parser",type:"POST"},
        'columns':
          [
            { 'data': 'itemModel', "defaultContent": "", 'name': 'itemModel' },
            { 'data': 'itemName', "defaultContent": "", 'name': 'itemName' },
            { 'data': 'countryCompany', "defaultContent": "N", 'name': 'countryCompany' },
            { 'data': 'manufacturerCompany', "defaultContent": "X", 'name': 'manufacturerCompany' },
            { 'data': 'unit', "defaultContent": "X", 'name': 'unit' },
            { 'data': 'itemUnit', "defaultContent": "X", 'name': 'itemUnit' },
            { 'data': 'itemType', "defaultContent": "X", 'name': 'itemType' },
            { 'data': 'usedIn', "defaultContent": "N", 'name': 'usedIn' },
            { 'data': 'weight', "defaultContent": "N", 'name': 'weight' },
            { 'data': 'color', "defaultContent": "N", 'name': 'color' },
            //- { 'data': 'sellPriceMufrad', "defaultContent": "N", 'name': 'sellPriceMufrad' },
            { 'data': 'totalQuantity', "defaultContent": "N", 'name': 'totalQuantity' },
            { 
              data: '_id', 
              render: function ( data, type, row, meta ) {
                var object=[];
                //- object[0]= "<a class='btn btn-sm btn-secondary m-1' title='زانیاری بەرهەم' style='padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;' type='button' data-toggle='modal' data-target='#infowindow"+data+"><span class='icon text-white-50'><i class='fas fa-info-circle'></i></span></a>";
                object[0]= "<a class='btn btn-sm btn-info m-1' title='تۆماری بەرهەم' href='/Products/"+data+"/invoices' style='padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;'><span class='icon text-white-50'><i class='fas fa-file-invoice'></i></span></a>";
                object[1]="<a class='btn btn-sm btn-warning m-1' href='/Products/"+data+"/Modification' title='نوێکردنەوەی بەرهەم' style='padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;'><span class='icon text-white-50'><i class='fas fa-pencil-alt'></i></span></a>";
                object[2]="<a class='btn btn-sm btn-danger m-1' href='/Products/Remove/"+data+"'title='ڕەشکردنەوەی بەرهەم' style='padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;><span class='icon text-white-50'><i class='fas fa-trash-alt'></i></span></a>";
                object[3]="<a class='btn btn-sm btn-success m-1' href='/Products/"+data+"/Clone' title='لەبەرگرتنەوەی بەرهەم' style='padding: .25rem .4rem;font-size: .875rem;line-height: .5;border-radius: .2rem;><span class='icon text-white-50'><i class='fas fa-copy'></i></span></a>";
                return object;
              } 
            },

          ],
          "columnDefs": [
            {
              "targets": [0,1,2,3,4,5,6,7,8,9,10],
              "createdCell": function (td, cellData, rowData, row, col) {
                $(td).css("font-weight","bold");
                $(td).css("text-align","center");
              }
            }
          ],
        //- "createdRow":function(row,data,index){
        //- $(row).append('<td>'+ data['itemName']+'</td>');
        //- $(row).append('<td>'+ data['color']+'</td>');
        //- $(row).append('<td>'+ data['itemName']+'</td>');
        //- $(row).append('<td>'+ data['itemName']+'</td>');
        //- $(row).append('<td>'+ data['itemName']+'</td>');
        //- $(row).append('<td>'+ data['itemName']+'</td>');
        //- $(row).append('<td>'+ data['itemName']+'</td>');

        //-   console.log(data)
        //- },
        //- "deferLoading": 20,
        "deferRender": true,
        //- "searching": true,
        //- "paging": true
      });
    } );
      function deleteRow(r,GetArray) {
        var row = r.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.rowIndex;
        console.log(r)
          //- $.ajax({
          //-   type: 'DELETE',
          //-   url: "#{address}/Products/Remove/"+GetArray[row-1]['_id'],
          //-   dataType: 'JSON'
          //-   })
        document.getElementById("productTable").deleteRow(row);
      }